<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express</title>
</head>
<body>
    <h1>ARTISTS!</h1>
    <ul>
        <% artists.forEach(function(a) { %>
            <li>
                <%= a.artists%>
                 -
                <%= a.artist ? 'artist' : 'not an artist' %>
            </li>
        <%});%>
    </ul>
</body>
</html>